# Node.js modules
node_modules/
package-lock.json
package.json

# Log files
*.log

# Temp files
*.tmp

cypress.config.js
cypress/

!cypress/e2e/

Tugas API Automation/
mochawesome-report/
assets

Tugas Cypress/

test/pageobjects/
